<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location detail</title>
</head>
<body>
    <h1><%= data.name %>'s Locations</h1>
  
<ul>
  <% data.forEach(data => { %>
    <li><%= data.cityName %>-<%= data.stateName %></li>
    <% }) %>
</ul>

</body>
</html>