<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location</title>
</head>
<body>
    <h1>Create a Location</h1>

<form action="/locations" method="POST">
  <div class="form-group">
    <label for="cityName">City</label>
    <input type="text" class="form-control" id="cityName" name="cityName" />
    <label for="stateName">State</label>
    <input type="text" class="form-control" id="stateName" name="stateName" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>