<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location</title>
</head>
<body>
    <h1>Create a New Store Name</h1>

<form action="/locations" method="POST">
  <div class="form-group">
    <label for="name">Store Name</label>
    <input type="text" class="form-control" id="name" name="name" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>