<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arepas</title>
</head>
<body>
    <h1>Arepas</h1>
<a href="/arepas/new">add new arepa</a>
<ul>
    <% arepas.forEach(arepa => { %>
     <li>
       <%= arepa.name %>
       <a href="/arepas/<%=arepa._id%>/edit">Edit</a>
      </li>
    <% }) %>
  </ul>
</body>
</html>