<h1>Arepas</h1>
<a href="/arepas/new">add new arepa</a>
<ul>
    <% arepas.forEach(arepa => { %>
     <li>
       
       <a href="/arepas/<%=arepa._id%>"> <%= arepa.name%> </a>
       <a href="/arepas/<%=arepa._id%>/edit">Edit</a>
      <br>
      <form action="/arepas/<%=arepa._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
      </form>
    </li>
    <% }) %>
  </ul>
