<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create a New Arepa</h1>
    <form action="/arepas" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" />
          <label for="image">Image</label>
          <input type="text" class="form-control" id="image" name="image" />
        </div>
        <% ingredients.forEach(ingredient => { %>
        <input
          type="checkbox"
          id="<%= ingredient.name %>"
          name="ingredients"
          value="<%= ingredient.id %>"
        />
        <label for="<%= ingredient.name %>"><%= ingredient.name %></label><br />
        <% })%>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</body>
</html>