<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    
    <a
      class="nav-item nav-link"
      id="nav-arepa-tab"
      data-toggle="tab"
      href="#nav-arepa"
      role="tab"
      aria-controls="nav-arepa"
      aria-selected="false"
      >Arepas</a
    >
    <a
      class="nav-item nav-link"
      id="nav-location-tab"
      data-toggle="tab"
      href="#nav-location"
      role="tab"
      aria-controls="nav-location"
      aria-selected="false"
      >Location</a
    >
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  
  <div
    class="tab-pane fade show active" 
    id="nav-arepa"
    role="tabpanel"
    aria-labelledby="nav-arepa-tab">
    
    <br>


  <div class="container">
  <div class="card-columns">
      <div class="card">
          <img alt="Card image cap" class="card-img-top img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/e/e8/Arepa_de_pabellon.jpg">
          <div class="card-block">
              <h4 class="card-title">Aprepa Pabellon</h4>
              <p class="card-text">This is fun.</p>
          </div>
      </div>
      <div class="card"><!-- card 2 column1 -->
            <img alt="Card image cap" class="card-img-top img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/e/e8/Arepa_de_pabellon.jpg">
            <div class="card-block">
                <h4 class="card-title">Aprepa Pabellon</h4>
                <p class="card-text">This is fun.</p>
            </div>
     </div>
    
      <!-- 2nd column start -->
      
      <div class="card"> <!-- 2nd column card1-->
            <img alt="Card image cap" class="card-img-top img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/e/e8/Arepa_de_pabellon.jpg">
            <div class="card-block">
                <h4 class="card-title">Aprepa Pabellon</h4>
                <p class="card-text">This is fun.</p>
            </div>
       </div>		
        <div class="card"><!-- 2nd column card2-->
            <img alt="Card image cap" class="card-img-top img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/e/e8/Arepa_de_pabellon.jpg">
            <div class="card-block">
                <h4 class="card-title">Aprepa Pabellon</h4>
                <p class="card-text">This is fun.</p>
            </div>
       </div>		
       
      <!-- column 3 start -->
      <div class="card"><!-- card 1 column3-->
            <img alt="Card image cap" class="card-img-top img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/e/e8/Arepa_de_pabellon.jpg">
            <div class="card-block">
                <h4 class="card-title">Aprepa Pabellon</h4>
                <p class="card-text">This is fun.</p>
            </div>
      </div>	
      <div class="card"><!-- card 2 column3-->
            <img alt="Card image cap" class="card-img-top img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/e/e8/Arepa_de_pabellon.jpg">
            <div class="card-block">
                <h4 class="card-title">Aprepa Pabellon</h4>
                <p class="card-text">This is fun.</p>
            </div>
      </div>
      	
  </div>
</div>
    
   
  </div><!-- end of /div for Arepa Nav-->
  
  <div
    class="tab-pane fade"
    id="nav-location"
    role="tabpanel"
    aria-labelledby="nav-location-tab"
  >
     Philadelphia, PA <br />
    Oakland Park, FL
  </div>


  <!-- /container -->
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12"><div class="page-footer"></div></div>
  </div>
</div>
