

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
          <a class="nav-item nav-link" id="nav-arepa-tab" data-toggle="tab" href="#nav-arepa" role="tab" aria-controls="nav-arepa" aria-selected="false">Arepas</a>
          <a class="nav-item nav-link" id="nav-location-tab" data-toggle="tab" href="#nav-location" role="tab" aria-controls="nav-location" aria-selected="false">Location</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fa de show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">Home</div>
        <div class="tab-pane fade" id="nav-arepa" role="tabpanel" aria-labelledby="nav-arepa-tab">
        </ul>
        <div class="row">
            <div class="col-4">
                <nav class="nav flex-column">
                    <a class="nav-link active" href="#">Pebellon</a>
                    <a class="nav-link" href="#">Rumbera</a>
                    <a class="nav-link" href="#">Queso</a>
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Domino</a>
                </nav>
            </div>
            <div class="col-8">
                <image src="https://upload.wikimedia.org/wikipedia/commons/e/e8/Arepa_de_pabellon.jpg" width="300px" height="200px"></image>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-location" role="tabpanel" aria-labelledby="nav-location-tab">...
            
            
            <div class="row">
                <div class="col-4">
                    Philadelphia, PA <br>
                    Oakland Park, FL
                </div>
                <div class="col-8">
                   
                </div>
              </div>
            </div>
        </div>
      </div>
   
  

<div class="row">
  <div class="col-sm-4">
    <div class="card card-default">
      <div class="card-body card-5-7">
        <div class="card-left">
          <img src="https://upload.wikimedia.org/wikipedia/commons/e/e8/Arepa_de_pabellon.jpg" width="200px" height="150px" class="img-responsive" />
        </div>
        <div class="card-right">
          <h5>Heading</h5>
          <p>
            A stitch in time saves nine. All good things come to those who wait.
            Too many cooks spoil the broth.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card card-default">
      <div class="card-body card-7-5">
        <div class="card-left">
            <img src="https://upload.wikimedia.org/wikipedia/commons/e/e8/Arepa_de_pabellon.jpg" width="200px" height="150px" class="img-responsive" />
        </div>
        <div class="card-right">
          <h5>Heading</h5>
          <p>
            A stitch in time saves nine. All good things come to those who wait.
            Too many cooks spoil the broth. I have seen the future, and it
            works.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card card-default">
      <div class="card-body card-5-7">
        <div class="card-left">
            <img src="https://upload.wikimedia.org/wikipedia/commons/e/e8/Arepa_de_pabellon.jpg" width="200px" height="150px" class="img-responsive" />
        </div>
        <div class="card-right">
          <h5>Heading</h5>
          <p>
            A stitch in time saves nine. All good things come to those who wait.
            Too many cooks spoil the broth.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- /container -->
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12"><div class="page-footer"></div></div>
  </div>
</div>
