<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    
    <a
      class="nav-item nav-link"
      id="nav-arepa-tab"
      data-toggle="tab"
      href="#nav-arepa"
      role="tab"
      aria-controls="nav-arepa"
      aria-selected="false"
      >Arepas</a
    >
    <a
      class="nav-item nav-link"
      id="nav-location-tab"
      data-toggle="tab"
      href="#nav-location"
      role="tab"
      aria-controls="nav-location"
      aria-selected="false"
      >Location</a
    >
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  
  <div
    class="tab-pane fade show active" 
    id="nav-arepa"
    role="tabpanel"
    aria-labelledby="nav-arepa-tab">
    
    <br>


  <div class="container">
  <div class="card-columns">
      <div class="card">
          <img alt="Card image cap" class="card-img-top img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/e/e8/Arepa_de_pabellon.jpg">
          <div class="card-block">
              <h6 class="card-title">Aprepa Pabellon</h6>
              <p class="card-text small">Arepa stuffed with shredded beef, sweet plaintain, black beans and white cheese</p>
          </div>
      </div>
      <div class="card"><!-- card 2 column1 -->
            <img alt="Card image cap" class="card-img-top img-fluid" src="https://hungrysofia.files.wordpress.com/2011/03/img_9072_2.jpg">
            <div class="card-block">
                <h6 class="card-title">Aprepa Domino</h6>
                <p class="card-text small">Arepa filling with white cheese and black beans</p>
            </div>
     </div>
    
      <!-- 2nd column start -->
      
      <div class="card"> <!-- 2nd column card1-->
            <img alt="Card image cap" class="card-img-top img-fluid" src="https://arepasdelgringo.com/wp-content/uploads/2015/02/DSC_0384.jpg" hight="200px" width="150px">
            <div class="card-block">
                <h6 class="card-title">Arepa Rumbera</h6>
                <p class="card-text small">Arepa stuffed with shredded pulled-pork, cheese and seasoned with our garlic mayo.</p>
            </div>
       </div>		
        <div class="card"><!-- 2nd column card2-->
            <img alt="Card image cap" class="card-img-top img-fluid" src="https://www.wikichef.net/webapp/img/recipes/73f721_arepa-de-queso-blanco-arepero-o-de-mano-wc_w1000.jpg">
            <div class="card-block">
                <h6 class="card-title">Aprepa con queso blanco </h6>
                <p class="card-text small">Arepa filling of white cheese.</p>
            </div>
       </div>		
       
      <!-- column 3 start -->
      <div class="card"><!-- card 1 column3-->
            <img alt="Card image cap" class="card-img-top img-fluid" src="https://thumbs.dreamstime.com/b/venezuelan-arepas-here-homemade-venezuelan-arepas-close-up-reina-pepiada-avocado-chicken-arepa-venezuelan-arepas-homemade-126181930.jpg">
            <div class="card-block">
                <h6 class="card-title">Arepa Reina Pepiada</h6>
                <p class="card-text small">Arepa filling of shredded white meat chicken tossed with tender avocado, mayonnaise, garlic, onion.</p>
            </div>
      </div>	
      <div class="card"><!-- card 2 column3-->
            <img alt="Card image cap" class="card-img-top img-fluid" src="https://i1.wp.com/enrilemoine.com/wp-content/uploads/2016/08/2.-Tuna-Salad-Arepa-SAVOIR-FAIRE-by-enrilemoine.jpg?ssl=1">
            <div class="card-block">
                <h6 class="card-title">Aprepa Atun</h6>
                <p class="card-text small">Arepa filling of tuna, tomato, onion, cilantro, light mayo.</p>
            </div>
      </div>
      	
  </div>
</div>
    
   
  </div><!-- end of /div for Arepa Nav-->
  
  <div
    class="tab-pane fade"
    id="nav-location"
    role="tabpanel"
    aria-labelledby="nav-location-tab"
  >
     Philadelphia, PA <br />
    Oakland Park, FL
  </div>


  <!-- /container -->
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12"><div class="page-footer"></div></div>
  </div>
</div>
