
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">Arepas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Location</a>
    </li>
   
  </ul>
<div class="row">
    <div class="col-8">
        <nav class="nav flex-column">
            <a class="nav-link active" href="#">Pebellon</a>
            <a class="nav-link" href="#">Rumbera</a>
            <a class="nav-link" href="#">Queso</a>
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Domino</a>
        </nav>
    </div>
    <div class="col-4">Image</div>
  </div>

<div class="row">
  <div class="col-sm-4">
    <div class="card card-default">
      <div class="card-body card-5-7">
        <div class="card-left">
          <img src="https://fillmurray.com/g/320/320" class="img-responsive" />
        </div>
        <div class="card-right">
          <h5>Heading</h5>
          <p>
            A stitch in time saves nine. All good things come to those who wait.
            Too many cooks spoil the broth.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card card-default">
      <div class="card-body card-7-5">
        <div class="card-left">
          <img src="https://fillmurray.com/g/320/320" class="img-responsive" />
        </div>
        <div class="card-right">
          <h5>Heading</h5>
          <p>
            A stitch in time saves nine. All good things come to those who wait.
            Too many cooks spoil the broth. I have seen the future, and it
            works.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card card-default">
      <div class="card-body card-5-7">
        <div class="card-left">
          <img src="https://fillmurray.com/g/320/320" class="img-responsive" />
        </div>
        <div class="card-right">
          <h5>Heading</h5>
          <p>
            A stitch in time saves nine. All good things come to those who wait.
            Too many cooks spoil the broth.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- /container -->
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12"><div class="page-footer"></div></div>
  </div>
</div>
