<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a
      class="nav-item nav-link active"
      id="nav-home-tab"
      data-toggle="tab"
      href="#nav-home"
      role="tab"
      aria-controls="nav-home"
      aria-selected="true"
      >Home</a
    >
    <a
      class="nav-item nav-link"
      id="nav-arepa-tab"
      data-toggle="tab"
      href="#nav-arepa"
      role="tab"
      aria-controls="nav-arepa"
      aria-selected="false"
      >Arepas</a
    >
    <a
      class="nav-item nav-link"
      id="nav-location-tab"
      data-toggle="tab"
      href="#nav-location"
      role="tab"
      aria-controls="nav-location"
      aria-selected="false"
      >Location</a
    >
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div
    class="tab-pane fa de show active"
    id="nav-home"
    role="tabpanel"
    aria-labelledby="nav-home-tab"
  >
    Home
  </div>
  <div
    class="tab-pane fade"
    id="nav-arepa"
    role="tabpanel"
    aria-labelledby="nav-arepa-tab">
    arepa
    
    <div class="row">
        <!-- start the Arepa Card1-->
      <div class="col-sm-4">
        <div class="card card-default">
          <div class="card-body card-5-7">
            <div class="card-left">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/e/e8/Arepa_de_pabellon.jpg"
                width="200px"
                height="150px"
                class="img-responsive"
              />
            </div>
            <div class="card-right">
              <h5>Heading</h5>
              <p>
                A stitch in time saves nine. All good things come to those who
                wait. Too many cooks spoil the broth.
              </p>
            </div>
          </div>
        </div>
      </div><!-- end of arepa card 1-->
      <!-- start the Arepa Card2-->
      <div class="col-sm-4">
        <div class="card card-default">
          <div class="card-body card-5-7">
            <div class="card-left">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/e/e8/Arepa_de_pabellon.jpg"
                width="200px"
                height="150px"
                class="img-responsive"
              />
            </div>
            <div class="card-right">
              <h5>Heading</h5>
              <p>
                A stitch in time saves nine. All good things come to those who
                wait. Too many cooks spoil the broth.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end of arepa card 2-->
    <!-- start of arepa card 3-->
    <div class="col-sm-4">
        <div class="card card-default">
          <div class="card-body card-5-7">
            <div class="card-left">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/e/e8/Arepa_de_pabellon.jpg"
                width="200px"
                height="150px"
                class="img-responsive"
              />
            </div>
            <div class="card-right">
              <h5>Heading</h5>
              <p>
                A stitch in time saves nine. All good things come to those who
                wait. Too many cooks spoil the broth.
              </p>
            </div>
          </div>
        </div>
      </div>
    <!-- end of arepa card 3-->
  </div>
  <!-- end of /div for Arepa Nav-->
  <div
    class="tab-pane fade"
    id="nav-location"
    role="tabpanel"
    aria-labelledby="nav-location-tab"
  >
    ... Philadelphia, PA <br />
    Oakland Park, FL
  </div>

  <div class="container">
  <div class="card-columns">
      <div class="card">
          <img alt="Card image cap" class="card-img-top img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/e/e8/Arepa_de_pabellon.jpg">
          <div class="card-block">
              <h4 class="card-title">Aprepa Pabellon</h4>
              <p class="card-text">This is fun.</p>
          </div>
      </div>
      <div class="card"><!-- card 2 column1 -->
            <img alt="Card image cap" class="card-img-top img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/e/e8/Arepa_de_pabellon.jpg">
            <div class="card-block">
                <h4 class="card-title">Aprepa Pabellon</h4>
                <p class="card-text">This is fun.</p>
            </div>
     </div>
    
      <!-- 2nd column start -->
      
      <div class="card"> <!-- 2nd column card1-->
            <img alt="Card image cap" class="card-img-top img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/e/e8/Arepa_de_pabellon.jpg">
            <div class="card-block">
                <h4 class="card-title">Aprepa Pabellon</h4>
                <p class="card-text">This is fun.</p>
            </div>
       </div>		
        <div class="card"><!-- 2nd column card2-->
            <img alt="Card image cap" class="card-img-top img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/e/e8/Arepa_de_pabellon.jpg">
            <div class="card-block">
                <h4 class="card-title">Aprepa Pabellon</h4>
                <p class="card-text">This is fun.</p>
            </div>
       </div>		
       
      <!-- column 3 start -->
      <div class="card"><!-- card 1 column3-->
            <img alt="Card image cap" class="card-img-top img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/e/e8/Arepa_de_pabellon.jpg">
            <div class="card-block">
                <h4 class="card-title">Aprepa Pabellon</h4>
                <p class="card-text">This is fun.</p>
            </div>
      </div>	
      <div class="card"><!-- card 2 column3-->
            <img alt="Card image cap" class="card-img-top img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/e/e8/Arepa_de_pabellon.jpg">
            <div class="card-block">
                <h4 class="card-title">Aprepa Pabellon</h4>
                <p class="card-text">This is fun.</p>
            </div>
      </div>
      	
  
</div>

  <!-- /container -->
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12"><div class="page-footer"></div></div>
  </div>
</div>
