
    <p>Edit Ingredient</p>
    <form action="/ingredients/<%= ingredient._id %>?_method=PUT" method="POST" >
        <label for="name">Name</label><br>
        <input type="text" id="name" name="name" value="<%= ingredient.name %> "><br>
        <input type="submit" value="Edit">
    </form>
