<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <titl>Edit Ingredient</title>
</head>
<body>
    <p>Edit Ingredient</p>
    <form action="/ingredients/<%= ingredient._id %>?_method=PUT" method="POST" >
        <label for="name">Name</label><br>
        <input type="text" id="name" name="name" value="<%= ingredient.name %> "><br>
        <input type="submit" value="Edit">
    </form>
</body>
</html>