
  <h1>all ingredients</h1>
<a href="/ingredients/new">add new ingredient</a>
<ul>
    <% ingredients.forEach(ing => { %>
     <li>
       <%= ing.name %>
       <a href="/ingredients/<%=ing._id%>/edit">Edit</a>
      </li>
    <% }) %>
  </ul>