
<body>
   <h1>Add new Ingredient</h1>
   <form action="/ingredients" method="POST">
    <div class="form-group">
      <label for="name">Name</label>
      <!-- id match with for -->
      <input required type="text" class="form-control" id="name" name="name" />
      
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
